@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'Now';
    src: url('/fonts/Now-Regular.otf') format('truetype');
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Now';
    src: url('/fonts/Now-Bold.otf') format('truetype');
    font-weight: 700;
    font-display: fallback;
}

p {
    font-family: 'Now', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    --white: #fff;
    --gray: #f4f4f4;
    --coral: #f05f59;
    --blue: #1a3fd8;
    --black: #061245;
    --light-blue: #587ced;
    font-family: 'Now', 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}
