.ctaBar {
    background: var(--coral);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.text {
    margin-right: 30px;
    font-size: 18px;
    color: var(--white);
}

@media (max-width: 1023px) {
    .ctaBar {
        display: block;
        text-align: center;
    }

    .text {
        margin-right: 0;
    }
}


.fb {
    width: 10px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}